/* static/styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 20px 100px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #555;
}

#status {
  margin: 20px 0;
  text-align: center;
}

#fallStatus {
  font-weight: bold;
  color: #d9534f; /* Red color for fall detected */
}

#videoStream {
  text-align: center;
  min-height: 100%;
}

#videoStream img {
  width: 100%;
  height: auto;
  border: 2px solid #007bff; /* Blue border for video feed */
  border-radius: 8px;
}

#alertMessage {
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  padding: 15px;
  border: 1px solid #f5c6cb; /* Light red border */
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}
.detailschildcontainer,
.re {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px;
}
.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 700;
  gap: 20px;
  margin: 2%;
}

#saveDetails {
  min-width: 100px;
  min-height: 40px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: chartreuse;
  font-size: medium;
  font-weight: 800;
  margin-top: 10px;
  cursor: pointer;
}

label {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  font-weight: 700;
}

input {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  background-color: #d1d1d1;
  min-width: 200px;
  border: 2px solid black;
  border-radius: 30px;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #777;
}

footer p {
  margin: 5px 0;
}
