<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fall Detection System</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Fall Detection System</h1>
        <div id="status">
            <h2>Status: <span id="fallStatus">Waiting for input...</span></h2>
        </div>
        <div id="videoStream" style="display: none;">
            <h3>Live Camera Feed:</h3>
            <img src="{{ url_for('video_feed') }}" alt="Live Video Feed">
        </div>
        <div id="alertMessage" style="display: none; color: red;">
            <h3>ALERT: FALL DETECTED!</h3>
            <p>Please check immediately. Notification sent to registered email.</p>
        </div>
        <div class="details">
            <div id="re">
                <label for="recipientEmail">Enter your email for alerts:</label>
                <input type="email" id="recipientEmail" placeholder="example@email.com">
            </div>
            <div id="re">
                <label for="phoneNumber">Enter your Phone number for alerts:</label>
                <input type="tel" id="phoneNumber" placeholder="Enter number with country code">
            </div>
            <div id="re">
                <label for="confidence">Enter confidence threshold</label>
                <input type="tel" id="confidence" placeholder="Enter confidence threshold">
            </div>
            <div id="SavedEmail" style="display: none;"></div>
            <div id="SavePhone" style="display: none;"></div>
            <div id="SavedConf" style="display: none;"></div>
        </div>
        <div>
            <button id="saveDetails">Save</button>
        </div>
    </div>
    <footer>&copy; 2024 FallSafe Project</footer>
    <script src="static/script.js"></script>
</body>
</html>
